*,
body,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
}
html,
body {
  background: #f7f8fe;
}
.mainMenu:hover .subMenu {
  display: flex;
}
.mySwiper {
  border-radius: 7px;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* background: #ecf1f4; */
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  width: 100%;
  height: 100%;
}
.swiper-button-prev {
  font-size: 10px;
  background: #fff;
  width: 40px !important;
  display: flex;
  justify-content: center;
  align-items: center;

  height: 40px !important;
  border-radius: 100% !important;
  aspect-ratio: 1/1;
}

.swiper-button-prev::after {
  font-size: 20px !important;
  font-weight: bold;
}

.swiper-button-next {
  font-size: 10px;
  background: #fff;
  width: 40px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px !important;
  border-radius: 100% !important;
  aspect-ratio: 1/1;
}

.swiper-button-next::after {
  font-size: 20px !important;
  font-weight: bold;
}

.hoverBtn {
  transform: translateX(100px);
  cursor: pointer;
}
.shopItemCard:hover .hoverBtn {
  transform: translateX(0px);
}
